<!DOCTYPE html>

<!--
Project name(项目名称)：Element_UI_TimePicker
  File name(文件名): test3
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/29
  Time(创建时间)： 21:53
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
</head>
<body>

<div id="app">
    <el-time-select
            placeholder="起始时间"
            v-model="value1"
            :picker-options="
            {
      start: '08:30',
      step: '00:15',
      end: '18:30'
    }">
    </el-time-select>
    <el-time-select
            placeholder="结束时间"
            v-model="value2"
            :picker-options="
            {
      start: '08:30',
      step: '00:15',
      end: '18:30',
      minTime: value1
    }">
    </el-time-select>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            value1: new Date().toLocaleTimeString(),
            value2: new Date().toLocaleTimeString(),
        },
        methods: {
            change: function (values)
            {
                console.log(values)
            }
        },
        mounted()
        {

        }
    })
</script>
</body>
</html>